@import url('reset.css');
@import url('fuentes.css');
 
/*--- Estilos Generales ---*/
body {
	background:#2d2d2d;
	font-family:Arial, Helvetica,;
}
 
a {text-decoration:none; color:#fff;}
a:hover {text-decoration:underline;}
 
#wrap {
	width:960px;
	margin:auto;
	clear:both;
}
 
/*--- HEADER ---*/
header {
	width:100%;
	float:left;
	background: rgb(170,170,170); /* Old browsers */
background: -moz-linear-gradient(top, rgba(170,170,170,1) 0%, rgba(41,154,11,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(170,170,170,1) 0%,rgba(41,154,11,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(170,170,170,1) 0%,rgba(41,154,11,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#299a0b',GradientType=0 ); /* IE6-9 */:;
}
 
#subheader {
	width:960px;
	margin:auto;
}
 
#logotipo {
	float:left;
	width:300px;
	padding:10px 0px;
}
 
#logotipo a {
	font-family:Showcard Gothic;
	font-size:50px;
	color:white;

}
 
#logotipo a:hover {text-decoration:none;}
 
/*Menu*/
header #subheader nav {
	float:left;
	width:660px;
	padding:30px 0px;
	text-align:right;
}
 
header #subheader nav ul li {
	display:inline;
	font-family:Showcard Gothic;
}
 
header #subheader nav ul li a {
	color:#000;
	font-size:18px;
	padding:10px;
		border-radius:2px;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
	background:#02C1B0; 
}
 
header #subheader nav ul li a:hover {
	color:#fff;
	background:#F6DD24;
	text-decoration:none;
}
/*--- MAIN ---*/
#main {
	width:100%;
	margin:20px 0px 0px 0px;
	float:left;
}
 
/*Slideshow*/
#slideshow {
	width:920px;
	height:260px;
	float:left;
	background:#000;
	border:solid 20px #fff;
	margin-bottom:10px;
}
 
#slideshow .pagination {
	margin:26px auto;
	width:100px;
}
 
#slideshow .pagination li {
	float:left;
	margin:0px 5px;
	list-style:none;
}
 
#slideshow img {
	width:920px;
	height:260px;
}
 
#slideshow .pagination li a {
	display:block;
	width:12px;
	height:0px;
	padding-top:12px;
	background:#fff;
	float:left;
	overflow:hidden;
	border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
}
 
#slideshow .pagination li.current a {
	background:#1798af;
}
 
/*---Bienvenidos---*/
#bienvenidos {
	width:920px;
	float:left;
	padding:20px;
	background: #46793a; /* Old browsers */
		background: -moz-linear-gradient(top,  #46793a 0%, #2d4c1e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#46793a), color-stop(100%,#2d4c1e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #46793a 0%,#2d4c1e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #46793a 0%,#2d4c1e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #46793a 0%,#2d4c1e 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #46793a 0%,#2d4c1e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46793a', endColorstr='#2d4c1e',GradientType=0 ); /* IE6-9 */
	margin:20px 0px;
	border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	box-shadow:0px 2px 2px #000;
		-moz-box-shadow:0px 2px 2px #000;
		-webkit-box-shadow:0px 2px 2px #000;
}
 
#bienvenidos article h3 {
	font-family:sourcesans-light;
	color:#fff;
	font-size:40px;
	margin-bottom:10px;
	color:blue;
	font-family:Showcard Gothic;
}
 
#bienvenidos article {
	color:#fff;
	line-height:27px;
	font-size:20px;
}
 
/*---CONTENIDO---*/
#contenido {
	width:700px;
	float:left;
}
 
#contenido article {
	float:left;
	margin-bottom:20px;
}
 
#contenido article .titulo {
	font-size:30px;
	font-family:Showcard Gothic;;
	color:#fff;
}
 
#contenido article .fecha {
	font-size:24px;
	color:#1798af;
	margin-bottom:5px;
	width:500px;
}

 
#contenido article .thumb {
	width:220px;
	height:150px;
	float:left;
	margin:0px 10px 10px 0px;
}
 
#contenido article > p {
	color:white;
	font-size:30px;
	text-align:justify;
}
 
/*---Sidebar---*/
aside {
	width:220px;
	float:left;
	margin-left:20px;
	background:#4d78b3;
	padding:10px 10px 0px 10px;
	border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	box-shadow:0px 2px 2px #000;
		-moz-box-shadow:0px 2px 2px #000;	
		-webkit-box-shadow:0px 2px 2px #000;
}
 
aside .widget {
	margin-bottom:10px;
	float:left;
}
 
aside .widget > h3 {
	background:#fff;
	color:#4d78b3;
	width:220px;
	padding:10px 0px;
	text-align:center;
	font-weight:bold;
	margin-bottom:10px;
}
 
aside .widget a {color:#fff;}
aside .widget ul li {margin-bottom:5px;}
aside .widget img {width:220px;}
/*Footer*/
footer {
	width:100%;
	float:left;
	clear:both;
	box-shadow:0px 2px 2px #000;
		-moz-box-shadow:0px 2px 2px #000;
		-webkit-box-shadow:0px 2px 2px #000;
	border-radius:5px;
		-moz-border-radius:5px;	
		-webkit-border-radius:5px;
	background: #2f2f2f; /* Old browsers */
background: -moz-linear-gradient(top,  #2f2f2f 0%, #242424 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f2f2f), color-stop(100%,#242424)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #2f2f2f 0%,#242424 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #2f2f2f 0%,#242424 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #2f2f2f 0%,#242424 100%); /* IE10+ */
background: linear-gradient(to bottom,  #2f2f2f 0%,#242424 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f2f', endColorstr='#242424',GradientType=0 ); /* IE6-9 */
}
 
footer section {
	width:440px;
	float:left;
	padding:20px;
}
 
footer #acerca-de {
	font-family:Arial, Helvetica, Sans-serif;
	font-size:22px;
	color:#8c8c8c;
	text-align:justify;
	line-height:20px;
}
 
footer #acerca-de h3 {
	font-family:sourcesans-light;
	font-size:20px;
	color:#fff;
	margin-bottom:5px;
}
 
footer #redes-s > div {
	width:220px;
	height:60px;
	float:left;
	background:#ff8000;
	
}
 
footer #redes-s > div a {
	width:220px;
	height:60px;
	display:inline-block;
	background:#0795A5;
	float:right;
	font-size:30px;
	font-family:Showcard Gothic;
	

}
 

 
footer #redes-s > div a:hover {
	width:220px;
	height:60px;
	float:right;
	background:#EAB101;
	font-size:30px;
	text-decoration:none;
	color:#FF0000;}
	

	#copyright {
	float:left;
	width:960px;
	margin:10px 0px;
}
 
	#copyright p {
	text-align:center;
	font-size:12px;
	color:#fff;
	font-family:Arial, Helvetica,;
}
	.slidesjs-pagination{
		background:#424242;
		list-style:none;
		overflow:hidden;}

	.slidesjs-pagination li{
		float:left;}

	.slidesjs-pagination li a{
		display:block;
		padding:10px 20px;
		color:#fff;
		text-decoration:none;}
	.slides .active {
		background:#000;}
	
	.slidesjs-pagination li a:hover{
		background:#000;}
	.slidesjs-navigation{
		background:#000;
		color:white;
		text-decoration:none;
		display:inline-block;
		padding:10px 20px;
		float:right;}

	.slidesjs-previous{
	background:#000;
	color:white;
	text-decoration:none;
	display:inline-block;
	padding:10px 20px;
	float:right;}








